* {
    margin: 0px;
    padding: 0px;
  }
  .border {
    width: 100%;
    height: 10px;
    background-color: #854fee;
  }
  .logo {
    margin-top: 20px;
    padding: 1px;
    margin-left: 100px;
    background-image: linear-gradient(#8d98e3 40%, #854fee 60%);
    width: 350px;
    height: 20px;
    text-align: center;
  }
  .logo{
  /* 
    text-transform: uppercase;
    font-size: 30px; */
    animation: something 2s linear infinite;
    /* animation-direction:2s; */
    /* animation-delay: 2s; */
   }
  
  @keyframes something{
  
    from{ padding-left:60px;}
    to {padding-right: 80px;}
  }
  .sty{
    color:white;
    text-decoration: bold;
}
a {
  text-decoration: none;
  color: black;
  /* text-shadow: 0 0 3px black; */
  justify-content: space-around;
}
a:hover{
    color:blue;
    text-decoration: underline;
}
.logo2 {
    margin-left: 650px;
    word-spacing: 60px;
    margin-top: -20px;
  }
  /* style for myportFolio */
  section>h1{
    text-align: center;
    padding-top: 50px;
    color:darkblue;
    text-shadow:crimson;
  }
  div>p{
    font-size:20px;
    padding-top: 20px;
    text-align:center;
    text-indent:20px;
  }

  /* style for layout imgs */
  .layout{
    margin-left:275px;
    padding: 50px;
    padding-top: 50px;

  }

